{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}

{% load static %}
<html>
<head>
    <style>        
        .round1 {
                    border: 2px solid black;
                    border-radius: 5px;
                    padding:10px;
                  }
                </style>
                
                <div class="round1">
                  <table>
                      <tr>
                          <th style="align:left;position:relative;top:8px"> 
                              <img src="{% static 'logo.jpg' %}" align="left" width="280px" height="75px">
                          </th>
                </tr>
                      </table>
                      </div>
                    </head>
    <body style="background-color:white">
  <h2>Sign up</h2>
  </body>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Sign up</button>
  </form>
  </html>
{% endblock %}
